.container {
  display: flex;
  align-items: center;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-transparent);
  border: 2px solid var(--color-light-100);
  border-radius: 2px;

  &:focus {
    background-color: var(--color-dark-100);
    border-color: var(--color-light-900);
  }

  &:disabled {
    cursor: initial;
    background-color: var(--color-transparent);
    border-color: var(--color-dark-100);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  &:active {
    background-color: var(--color-dark-100);
  }

  &.disabled {
    cursor: initial;
    background-color: var(--color-transparent);
  }

  &:focus {
    background-color: var(--color-dark-100);
  }

  &:focus-within,
  &:hover:not(.disabled),
  &:hover .root:not([data-state='checked']) {
    background-color: var(--color-dark-500);
  }
}

.indicator {
  width: 18px;
  height: 18px;

  &.checked {
    background-color: var(--color-light-100);
  }

  &.disabled {
    background-color: var(--color-transparent);
  }
}

.checkIcon {
  &.checked {
    fill: var(--color-dark-900); // Цвет галочки при checked
  }

  &.disabled {
    fill: var(--color-light-100); // Цвет галочки при disabled
  }
}
