.main {
  width: 100%;
  padding-top: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.heading {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  margin-bottom: 24px;
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;

  width: max-content;
  margin-bottom: 32px;
  padding: 0;

  font-size: 14px;
  text-decoration: none;

  background-color: transparent;
  box-shadow: none;
}

.headingSecondRow {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 24px;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
}

.imageContainer {
  img {
    width: 170px;
    height: 100px;
    object-fit: cover;
  }
}

.wrapperCoverImg {
  position: relative;

  .coverImg {
    position: relative;

    width: 100%;
    max-width: 200px;

    object-fit: cover;
    object-position: center;

    transition: transform 0.2s;
  }
}

.switchButton {
  display: flex;
  align-items: end;
  justify-content: end;
}

.fieldWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

//////////////////////////////////

.tableRoot {
  table-layout: fixed;
}

.table {
  border-collapse: collapse;

  width: 100%;
  height: 100%;
  min-height: 100px;

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;

  border: 1px solid var(--color-dark-300);

  .thead {
    background-color: var(--color-dark-500);
  }

  .row {
    border-bottom: 1px solid var(--color-dark-300);
    transition: 0.3s;
  }

  /* .tableHeadCellCards:nth-child(1),
  .tableHeadCellCards:nth-child(2) {
    position: relative;
    width: 50%;
  }

  .tableHeadCellCards:nth-child(3) {
    position: relative;
    width: 15%;
  } */

  .headCell,
  .cell {
    position: relative;
    padding: 6px 10px;
    white-space: normal;
    border: 1px solid var(--color-dark-300);
  }

  .headCell:nth-child(1),
  .cell:nth-child(1) {
    grid-column: span 2;
    width: 30%;
  }

  .headCell:nth-child(2),
  .cell:nth-child(2) {
    grid-column: span 2;
    width: 30%;
  }

  .headCell:nth-child(3),
  .cell:nth-child(3) {
    width: 15%;
  }

  .headCell:nth-child(4),
  .cell:nth-child(4) {
    width: 20%;
  }

  .headCell:nth-child(5),
  .cell:nth-child(5) {
    width: 10%;
  }

  .arrowUp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subtitle2 {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
  }

  .nameSortBtn {
    all: unset;

    display: flex;

    text-decoration: none;

    background-color: transparent;
    box-shadow: none;
  }
}

.boxEye {
  position: absolute;
  right: 0;
  transform: translate(0);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 17%;
  height: 100%;
}

.iconBtns {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
