.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.heading {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  margin-bottom: 24px;
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;

  width: max-content;
  margin-bottom: 32px;
  padding: 0;

  font-size: 14px;
  text-decoration: none;

  background-color: transparent;
  box-shadow: none;
}

.headingSecondRow {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 24px;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
}

.wrapperCoverImg {
  position: relative;

  .coverImg {
    position: relative;

    width: 100%;
    max-width: 200px;

    object-fit: cover;
    object-position: center;

    transition: transform 0.2s;
  }
}

.switchButton {
  display: flex;
  align-items: end;
  justify-content: end;
}

.fieldWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .searchIcon {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    left: 10px;
  }

  .field {
    padding-left: 36px;
  }
}

//////////////////////////////////

.tableRoot {
  table-layout: fixed;
}

.table {
  border-collapse: collapse;

  width: 100%;
  height: 100%;
  min-height: 100px;

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;

  border: 1px solid var(--color-dark-300);

  .thead {
    background-color: var(--color-dark-500);
  }

  .row {
    border-bottom: 1px solid var(--color-dark-300);
    transition: 0.3s;
  }

  .tableHeadCellCards:nth-child(1),
  .tableHeadCellCards:nth-child(2) {
    position: relative;
    width: 50%;
  }

  .tableHeadCellCards:nth-child(3) {
    position: relative;
    width: 15%;
  }

  .headCell {
    padding: 6px 24px;
    white-space: normal;
  }

  .answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nameSortBtn {
    display: flex;
  }
}

@media (width <= 1279px) {
  ._headCell_1rdh2_18 {
    padding: 6px 10px;
  }
}
