.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  //max-height: 590px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
