.layout {
  width: 100%;
}
.mainContent {
  // display: flex;
  // flex-direction: column;
  padding-top: var(--header-height);
  padding-inline: var(--horizontal-padding);
  max-width: var(--max-width);
  margin: 0 auto;
}
