.layout {
  width: 100%;
}
.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--header-height);
  padding-inline: var(--horizontal-padding);
  max-width: var(--max-width);
  margin: 0 auto;
}
