.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);
  padding: 12px 0;

  background: var(--color-dark-700);
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--horizontal-padding);

  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  height: 50px;
  width: 50px;
}
