.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters {
  display: flex;
  gap: 24px;
  align-items: end;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 36px;
}

.searchField {
  width: 300px;
}

.spinner {
  z-index: 100;
  margin-top: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
