.card2 {
  max-width: 420px;
  margin: 0 auto;
  padding: 33px 36px 44px;
}

.title2 {
  margin: 0 0 27px;
  text-align: center;
}

.iconContainer2 {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 20px;

  font-size: 96px;
}

.instructions2 {
  margin-bottom: 65px;
  color: var(--color-dark-100);
  text-align: center;
}
